<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Courses</title>
<link rel="stylesheet" th:href="@{/css/list_companies_style.css}">
</head>
<body>
	<div th:insert="fragments/navbar :: navbar"></div>
	<div class="content-container"> 
		<div class="course-container" id="course-container">
			<div th:each="company : ${companies}" class="course-box course-box-hover" th:onclick="openCompany([[${company.companyId}]])">
	            <div class="flex-row">
	                <img th:if="${company.logo != null and company.logo != ''}" th:src="@{'/uploads/' + ${company.logo}}"  alt="Logo">
	                <img th:if="${company.logo == null or company.logo == ''}" th:src="@{/uploads/default-logo.png}"  alt="Logo">
	                <h2 th:text="${company.name}"></h2>
	            </div>
	            <p th:text="${company.description}"></p>
	            <div class="difficulty-time-container">
	                <p th:text="${company.numberEmployees} + ' Employees'"></p>
	                <p th:text="${company.positions.size} + ' Open Positions'"></p>
	            </div>
	        </div>
		</div>
	</div>
</body>
<script>
    function openCompany(companyId) {
    	window.location.href = `/employee/company/${companyId}`;
    }
</script>
</html> 
